.grid{
    width: 600px;
    height: 600px;
    border: 1px solid orange;
    display: flex;
    flex-wrap: wrap;
    background-color: pink;
}

.grid div {
    width: 58px;
    height: 58px;
    border: 1px solid orange;
    background-color: pink;
    color: rgb(255, 98, 0);
}
.duck{
    background-image: url('../assets/White-Duck-PNG-Download-Image.png');
    background-size: contain;
    background-repeat: no-repeat;
}